#
# General ignore patterns
#
*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
glabels-*.tar.gz

#
# Explicit files and patterns
#
/aclocal.m4
/autom4te.cache
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/glabels.spec
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/INSTALL
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/stamp-h1
/xmldocs.make

/libglabels/libglabels*.pc

/src/marshal.[ch]
/src/stock-pixmaps/stockpixbufs.h
/src/glabels
/src/glabels-3
/src/glabels-batch
/src/glabels-3-batch

/data/desktop/glabels*.desktop

/data/mime/glabels*.xml

/po/.intltool-merge-cache
/po/*.gmo
/po/POTFILES
/po/stamp-it
/po/glabels*.pot

/help/glabels-*.omf
/help/*/.xml2po.mo
/help/*/*.mo
/help/*/glabels*.xml
!/help/C/glabels*.xml
/help/*/*.page
!/help/C/*.page

/docs/libglabels/*.stamp
/docs/libglabels/xml/
/docs/libglabels/html/
/docs/libglabels/libglabels*-decl.txt
/docs/libglabels/libglabels*-decl-list.txt
/docs/libglabels/libglabels*-undeclared.txt
/docs/libglabels/libglabels*-unused.txt
/docs/libglabels/libglabels*-undocumented.txt
/docs/libglabels/libglabels*.args
/docs/libglabels/libglabels*.hierarchy
/docs/libglabels/libglabels*.interfaces
/docs/libglabels/libglabels*.prerequisites
/docs/libglabels/libglabels*.signals

#
# Ignore artifacts from editors, patching, etc.
#
*~
*.bak
\#*\#
.\#*
.*.swp
*.orig
*.rej
gmon.out
